
.tim-container{
    background: #ffffff;
    padding: 1em 2em;

}
.tim-row{
    margin-bottom: 20px;
}
.tim-title{
    margin-top: 30px;
    margin-bottom: 15px;
}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;   
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    margin-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 0;
    z-index: 2;
}
.navigation-example{
    margin-top: 0px;
}
.space{
    height: 130px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll; 
}
/*
.main{
    position: relative;
    z-index: 4;
}
*/
.main{
    background-color: #FFFFFF;
}
.navigation-example{
    height: 660px;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.tim-note{
    text-transform: capitalize;
}

.card{
    background-color: #FFFFFF;
    padding: 10px 0 20px;
    width: 100%;
}
.card h3{
    margin-bottom: 20px;
}
.card button{
    margin-top: 30px;
}
.subscribe-form{
    padding-top: 20px;
}
.subscribe-form .form-control{
    
}

.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}
.footer{
    background-color: #DDDDDD;
    background-attachment: fixed;
    position: relative;
}
.footer .heart{
    color: #FF3B30;
}
.footer .overlayer{
    background-color: rgba(27, 27, 27, 0.7);
    position: relative;
}
.footer .credits {
    padding: 20px 0 15px;
    text-align: center;
    color: #EEE;
}
.footer .credits a{
    color: #FFFFFF;
}
.social-share{
    float: left;
    margin-right: 8px;
}
.social-share a{
    color: #FFFFFF;
}
#subscribe_email{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.pick-class-label{
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    display: inline;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    padding: 15px 23px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

    .parallax-pro{
  width:100%;
/*   height:510px; */
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.parallax-pro:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    display: block;
    content: "";
    z-index: 0;
}
.parallax-pro .container{
    padding-top: 20px;
    z-index: 1;
    position: relative;
}
.parallax-pro .hello a{
    color: #fff;
    text-decoration: none;
}
.parallax-pro .hello{
    font-size: 48px;
    font-weight: 300;
    position: relative;
    /*width: 430px;*/
    margin: 30px auto 50px;
}
.parallax-pro .label{
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    background-color: #FF9500;
    color: #FFFFFF;
    display: block;
    width: 60px;
    right: -30px;
    top: 0;
    padding: 0;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0;
    height: 30px;
}
.parallax-pro small{
    padding-top: 15px;
    font-size: 20px;
    display: block;
    color: #fff;
}
.parallax-pro ul{
     width: 280px;
    margin: 0 auto;
}
.parallax-pro li{
    padding: 9px 0;
    border-bottom: 1px solid #777;
}
.parallax-pro .actions{
    margin-top: 40px;
}
.parallax-pro .actions{
    margin-left: 10px;
}
.parallax-pro .motto{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 600;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    z-index: 3;
    margin: 0 auto;
    top: 22%;
    width: 285px;
}
.parallax-pro .motto .pro{
    position: absolute;
    font-size: 18px;
    background-color: #FFFFFF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #333333;
    text-shadow: 0 0 0;
}
.parallax-pro .motto .square{
       padding: 7px 14px;
    height: auto;
    width: auto;
    line-height: inherit;
    border-radius: 6px;
    bottom: 22px;
    right: -25px;
    color: #FFFFFF;
    background-color: #ff9500;
    font-weight: 300;
    background-color: #ff9500;
}
.parallax-pro > img{
    width: 100%;
    position: absolute;  
}

@media (max-width: 768px){
    .parallax-pro > img{
/*        height: 100%; */
       width: 150%;
    }

    a.fancybox img {
        max-height: 300px;
        margin: 0.25em;
    }

    .navbar-brand {
        padding-left: 1em;
    }
}

@media (max-width: 480px){
    .navbar-brand {
        padding-left: 0.75em;
    }

    .aboutUs h2 {
        font-size: 1em;
    }
}
.social-share{
    margin-right: 0px;
    margin-top: 10px;
}
.footer h4{
    margin: 0px 0 20px;
}
.space-30{
    height: 30px;
    display: block;
}
.credits{
    display: block;
    margin: 15px 0;
    color: #ddd;
    opacity: .8;
}
.credits a{
    color: #FFFFFF;
}
.sharing-title{
    margin: 10px;
    line-height: 40px;
}
.social-line{
    padding: 5px 0;
}
.section-gray{
    padding: 10px 0;
    background-color: #EEE;
}
.section-gray h5{
    margin: 0;
    line-height: 40px;
}

.pad-section {
  padding: 50px 0;
}

.pad-section img {
  width: 100%;
}


/* -------------------------------- */
/* Header */
.navbar-header {
    background: url(../img/_logo.png) no-repeat center center;
    background-size: 50px 50px;
    background-position: 2.5%;
    /*padding-left: 50px;*/
}

.navbar-brand {
    margin-left: 2.5em !important;
}

.nav-active {
  color: #ffffff;
  opacity: 1 !important;
}


/* -------------------------------- */
/* Trips */
#trips {
  background: url(../img/3_Cat.jpg) no-repeat center center fixed; 
  display: table;
  height: auto;
  min-height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#trips .text-center {
    color: white;
}

#eventlist { list-style: none; padding: 0; margin: 0 auto; color: white; }
#eventlist li { list-style: none; padding: 3px; border-bottom: 2px solid #eee;}
.eventtitle { font-weight: bold; }


/* -------------------------------- */
/* Membership */
#membership {
  display: table;
  /*height: 800px;*/
  position: relative;
  width: 100%;
}

/* -------------------------------- */
/* Gallery */

a.fancybox img {
    max-height: 100px;
    margin: 0.5em;
}

/* -------------------------------- */
/* Carousel */

.carousel-inner img {
    /*max-height: 768px;*/
    width: 100%;
}

.leadership img {
    max-height: 300px;
}

.container p, #eventlist {
    font-size: 20px;
}

table {
    font-size: 20px;
}

navigation a:active {
    color: black;
}

/* -------------------------------- */
/* Office Hours */

#officeHours {
    background: url(../img/_slides/slideOne.jpg) no-repeat center center fixed;
    display: table;
    height: auto;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* -------------------------------- */
/* Footer */

.footer img {
    min-width: 100%;
    position: absolute;
    background-size: cover;
    min-height: 100%;
}

/* -------------------------------- */
/* About Us According / FAQ */

.transition, .aboutUs p, .aboutUs li i:before, .aboutUs li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aboutUs h2 {
    font-size: 1.75em;
}

.aboutUs p {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.aboutUs {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.aboutUs li {
  position: relative;
  padding: 0;
  margin: 0;
}

.aboutUs li:last-of-type {
  padding-bottom: 0;
}

.aboutUs li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 15px;
  right: 0;
}

.aboutUs li i:before, .aboutUs li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
.aboutUs li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.aboutUs li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.aboutUs li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.aboutUs li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.aboutUs li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.aboutUs li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

